<template>
  <div class="container">
    <!-- Selector de formulario -->
    <div class="buttons-container">
      <button @click="mostrarFormulario('agregar')">Añadir usuario</button>
      <button @click="mostrarFormulario('login')">Iniciar sesión</button>
    </div>
    <!-- Fin del selector de formulario -->

    <!-- Form de añadir usuario -->
    <div v-if="formularioActivo === 'agregar'" class="form-container">
      <form @submit.prevent="agregarUsuario" class="form">
        <input v-model="usuario1.email" placeholder="Correo" class="input-field" />
        <input v-model="usuario1.name" placeholder="Nombre" class="input-field" />
        <input
          v-model="usuario1.password"
          placeholder="Contraseña"
          type="password"
          class="input-field"
        />
        <input v-model="usuario1.group" placeholder="Grupo" type="text" class="input-field" />
        <button type="submit" class="submit-button">Añadir usuario</button>
      </form>
    </div>
    <!-- Fin del Form de añadir usuario -->

    <!-- Form de Iniciar sesión -->
    <div v-if="formularioActivo === 'login'" class="form-container">
      <form @submit.prevent="login" class="form">
        <input v-model="usuario.email" placeholder="Correo" class="input-field" />
        <input
          v-model="usuario.password"
          placeholder="Contraseña"
          type="password"
          class="input-field"
        />
        <button type="submit" class="submit-button">Iniciar sesión</button>
      </form>
      <span>{{ Itoken }}</span>
    </div>
    <!--Fin del Form de Iniciar sesión -->
  </div>
</template>

<script setup lang="ts">
import PostService from '@/Services/PostService'
import { ref } from 'vue'
import type IPost from '@/interfaces/IPost'

const Itoken = localStorage.getItem('Token')

const postService = new PostService()
const usuario = ref<IPost>({
  email: '',
  password: ''
})

const usuario1 = ref<IPost>({
  name: '',
  email: '',
  password: '',
  group: ''
})

const login = async () => {
  await postService.addLogin(usuario)
}

const agregarUsuario = async () => {
  await postService.addUser(usuario1)
}

const formularioActivo = ref<string>('login')

const mostrarFormulario = (formulario: string) => {
  formularioActivo.value = formulario
}
</script>

<style scoped>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons-container {
  margin-bottom: 20px;
}

.buttons-container button {
  margin: 0 10px;
  color: #0f1419;
  border: 1px solid #cfd9de;
  background: white;
  font-weight: bold;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttons-container button:active {
  background-color: #0d6efd;
}

.form-container {
  max-width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

.form {
  width: 100%;
}

.input-field {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 8px;
}

.submit-button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #157347;
}
</style>
