<template>
  <div>
    <form @submit.prevent="login">
      <input v-model="usuario.email" placeholder="Correo" />
      <input v-model="usuario.password" placeholder="Contraseña" type="password" />
      <button type="submit">Añadir usuario</button>
    </form>
  </div>
</template>

<script lang="ts" setup>
import PostService from '@/Services/PostService'
import { ref } from 'vue'
import type IPost from '@/interfaces/IPost'

const postService = new PostService()
const usuario = ref<IPost>({
  email: '',
  password: ''
})

const login = async () => {
  await postService.addUser(usuario)
}
</script>
